.wrapper {
  padding: 0;
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  background-image: url(/assets/technology/background-technology-mobile.jpg);
  @media (min-width: 60em) {
    background-image: url(/assets/technology/background-technology-desktop.jpg);
  }
}
img {
  width: 20rem;
}
.padding {
  @media (min-width: 60em) {
    padding: 1em;
  }
}

.max-width {
  padding: 0;
  min-height: 100vh;
  text-align: center;

  @media (min-width: 60em) {
    padding: 0;
    text-align: left;
    padding-block: 1em;
  }
}

.numbers {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;

  @media (min-width: 60em) {
    flex-direction: column;
  }

  &__link {
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 2rem;
    aspect-ratio: 1;
    border: 1px solid hsl(0 0% 100% / 0.5);
    border-radius: 50%;
    color: var(--clr-white);
    transition: border-color 250ms linear;

    &-active {
      background-color: var(--clr-white);
      color: var(--clr-black);
    }

    &:hover {
      border: 1px solid var(--clr-white);
    }
  }
}

.grid {
  display: grid;
  gap: 2em;

  @media (min-width: 60em) {
    grid-template-columns: 1fr 1fr;

    & > * {
      grid-row: 1;
    }
  }

  &__content {
    display: grid;
    gap: 1em;

    @media (min-width: 60em) {
      grid-template-columns: 1fr 1fr;
      grid-column: span 2;
      align-items: center;
    }

    &--out {
      @media (min-width: 60em) {
        translate: -5em 0;
      }
    }
  }

  &__images {
    margin-inline: auto;
    @media (min-width: 60em) {
      grid-column: 3;
    }
  }
}

.dest {
  width: fit-content;
  margin-inline: auto;

  @media (min-width: 40em) {
    margin: 0;
    translate: 5em;
  }
}
