<div class="clr-white flex flex__column mxw-p">
  <div class="flex flex__column gap-1">
    <h1 class="heading-1 uppercase">{{ dataMoon.name }}</h1>
    <p class="clr-blue">
      {{ dataMoon.description }}
    </p>
  </div>
  <hr />
  <div class="flex flex__column gap-2 flex-row">
    <div class="flex flex__column">
      <p class="sub-head uppercase clr-blue">avg. distnace</p>
      <p class="heading-5 uppercase">{{ dataMoon.distance }}</p>
    </div>
    <div class="flex flex__column">
      <p class="sub-head uppercase clr-blue">travel</p>
      <p class="heading-5 uppercase">{{ dataMoon.travel }}</p>
    </div>
  </div>
</div>
