<div class="wrapper">
  <app-header></app-header>
  <div class="container">
    <div class="grid">
      <div class="grid__content">
        <p class="uppercase heading-6" style="letter-spacing: 2px">
          so, you want to travel to
        </p>
        <h1 class="clr-white uppercase heading-1">space</h1>
        <p>
          let's face it; if you want to go to space, you might as well genuinely
          go to outer space and not hover kind of on the edge of it. Well sit
          back, and relax because we'll give you a truly out of this world
          experience!
        </p>
      </div>
      <button [routerLink]="['explore']" class="btn uppercase">explore</button>
    </div>
  </div>
</div>
